$backgr: #dcbb9a;
$header: #893c00;
$content: #ffffff;
$content-text: black;
$quote: #fadcba;
$quote-text: black;
$quote-width: 380px;
$table: #e0e0e0;
$table-row: white;
$table-caption: white;
$a-link: blue;
$comments: #e7b690;
$coment-text: #a18080;
$coment-text-area: #a18080;
$btn-color: #ffffff;
$btn-text: #3d70a1;