$backgr: #e0f6fd;
$header: #fccd10;
$content: #3b3b3b;
$content-text: white;
$quote: #fff178;
$quote-text: black;
$quote-width: 94%;
$table: #94a34e;
$table-row: #677d01;
$table-caption: black;
$a-link: #d7c70f;
$comments: #e7b690;
$coment-text: #f5bc2b;
$coment-text-area: #757575;
$btn-color: #3b3b3b;
$btn-text: #f5bc2b;
